<div class="row">
<div class="col-md-4">
<%= image_tag @artist.artist_img.url(:artist_show), class: "book-show" %>
</div>
<div class="col-md-8">
<h2><%= @artist.artistName %></h2>
<p><%= @artist.beginDate %></p>
</div>
</div>

<%= link_to "Edit", edit_artist_path(@artist) %>
<%= link_to "Delete", artist_path(@artist), method: :delete, data: { confirm: "Are you sure?"} %>