<div class="row">
	<div class="col-md-4">
		<%= image_tag @album.album_img.url(:album_show), class: "book-show" %>
	</div>
	<div class="col-md-8">

		<h2><%= @album.albumName %></h2>
		<p>Artist: 
			<a href="/artists/<%= @album.artistId %>">
				<% variable = @album.artistId %>
				<%= Artist.find_by_sql(
					"select artists.artistName 
					from artists inner join albums 
					on artists.artistId = albums.artistId
					where artists.artistId ='#{variable}'").first.try(:artistName)%>
				</a>
			</p>
			<p>Released: <%= @album.releaseDate %></p>
			<p>Genre: 
				<a href="/genres/<%= @album.genreId %>">
					<% variable = @album.genreId %>
					<%= Genre.find_by_sql(
						"select genres.genreName 
						from genres inner join albums 
						on genres.genreId = albums.genreId
						where genres.genreId ='#{variable}'").first.try(:genreName)%>
					</a>
				</p>
				<p>Label: <% variable = @album.labelId %>
					<%= Label.find_by_sql(
						"select labels.labelName 
						from labels inner join albums 
						on labels.labelId = albums.labelId
						where labels.labelId ='#{variable}'").first.try(:labelName)%></p>
					</div>
				</div>


				<%= link_to "Edit", edit_album_path(@album) %>
				<%= link_to "Delete", album_path(@album), method: :delete, data: { confirm: "Are you sure?"} %>